@import 'src/utils/mixins/screens';

.about {
    grid-column: 1 / span 12;
    text-align: justify;
    margin-top: 40px;

    &__wrap {
        display: flex;
    }

    &__image {
        width: 40%;
        margin: auto;
    }

    &__text {
        width: 40%;
        margin-right: auto;

        > p {
            padding: 5px 0;
        }
    }
}

@media (#{$phone}) and (#{$tabletMax}) {
    .about {
        grid-column: 1 / span 4;
        margin-top: 20px;

        &__wrap {
            display: block;
        }

        &__image {
            width: 100%;
            padding-top: 10px;
        }

        &__text {
            padding: 0;
            width: auto;
        }
    }
}
