@import 'src/utils/mixins/screens';
@import 'src/utils/mixins/elevation';

.categoryBox {
    grid-column: auto / span 3;
    height: 256px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    @include elevation(0, false);
    @include elevation-transition();
    &:hover {
        @include elevation(3, false);
    }
    cursor: pointer;
    text-decoration: none;

    &__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }

    &__title {
        width: 100%;
        padding: 8px 0;
        text-align: center;
        color: #fff;
        background-color: rgba(33,33,33,0.4);
    }

    &__bg {
        transition: all 0.3s cubic-bezier(0.09, 0.5, 0.26, 0.9);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transform: scale(1);
    }

    &:hover &__bg {
        transform: scale(1.1);
    }
}

@media (#{$phone}) and (#{$tabletMax}) {
    .categoryBox {
        height: 128px;
        grid-column: auto / span 2;
        
        &:nth-child(3) {
            margin-top: 12px;
        }
        &:nth-child(4) {
            margin-top: 12px;
        }
    }
}
