@import 'src/utils/mixins/screens.scss';

.categoryPage {
    grid-column: 1 / span 12;
    margin-top: 20px;

    &__titleWrap {
        display: flex;
        align-items: center;
        padding: 20px 0;
        > h1 {
            padding-left: 20px;
        }
    }

    &__icon {
        cursor: pointer;
        display: flex;
    }

    &__text {
        padding: 0 46px;
        text-align: justify;
    }
}

@media (#{$phone}) and (#{$tabletMax}) {
    .categoryPage {
        grid-column: 1 / span 4;

        &__text {
            padding: 0 16px;
        }
    }
}
