@import 'src/utils/mixins/screens.scss';

.header {
    width: 90%;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: white;
    padding: 20px 0;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
	transition: all 0.3s;
    height: 82px;
    box-sizing: border-box;
    margin: 0 5%;
}

.header.smaller {
    padding-bottom: 10px;
    height: 67px;
}

.header a > img {
    transition: all 0.3s;
    padding: 0 5px;
    outline: none;
}

.header.smaller a > img {
	height: 30px;
}

@media (#{$phone}) and (#{$tabletMax}) {
    .header {
        width: 100%;
        padding: 10px 0;
        height: 69px;
        margin: 0;
    }

    .header.smaller {
        height: 57px;
    }

    .header.smaller > div > a > img {
        width: 30px;
    }
}
