@import 'src/utils/mixins/screens';

.location {
    grid-column: 1 / span 12;
    margin-top: 40px;

    &__container {
      display: flex;
      padding-bottom: 20px;
    }

    &__itemWrap {
      display: flex;
      margin: 20px 0;

    }

    &__text {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
    }

    &__title {
      padding-bottom: 5px;
    }

    &__map {
      flex: 1 1 0%;
      margin-left: 30px;
    }
}

@media (#{$phone}) and (#{$tabletMax}) {
  .location {
        grid-column: 1 / span 4;
        margin-top: 20px;

        &__container {
          display: block;
        }

        &__map {
          margin-left: 0;
        }
  }
}
