$phone: "min-width: 0px";
$smallestPhoneMax: "max-width: 320px";
$averagePhone: "min-width: 321px";


// Tablet
$tabletMax: "max-width: 767px";
$tablet: "min-width: 768px";


// Desktop
$desktopMax: "max-width: 1023px";
$desktop: "min-width: 1024px";


// Large Desktop
$largeDesktopMax: "max-width: 1280px";
$largeDesktop: "min-width: 1281px";

// Widescreen
$wideScreenMax: "max-width: 1599px";
$wideScreen: "min-width: 1600px";
