/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.App {
    text-align: center;
}

body {
    /*font-family: 'Josefin Sans', cursive;
  font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}
